.hero-name{
    color: #037b35;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 35px;
    width: 500px;
}

.hero-text{
    color: #1e252b;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 20px 0;
    width: 480px;
}

.hero-left{
    left: -2.5%;
    position: absolute;
    top: -65%;
}

.hero{
    position: relative;
    padding: 70px 0;
}

.hero .container{
    display: flex;
    justify-content: flex-end;
}
