.header{
    padding: 180px 0;
}

.header-name{
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 83px;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.header-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 15px 0;
    width: 470px;
    color: rgba(255, 255, 255, 0.55);
}
.header-btn{
    width: 240px;
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 26.5px;
    border: 2px solid #FCBD17;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
    font-size: 18px;
    line-height: 30px;
    background: #FCBD17;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    transition: 0.5s;
}

.header-btn:hover{
    background-color: #000;
}


.header-button {
    background: rgba(236, 235, 147, 0.4);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.header-triangle {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color:#FDC844;
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: rotate(90deg);

}

.header-right{
    position: absolute;
    top: 20%;
    left: 53%;
}
.header-box {
    padding: 18px;
    margin-top: 20px;
    margin-left: 80px;
}
.header-box {
    position: absolute;
    left: 25%;
    margin-left: 80px;
    padding-left: 55px;
}

.header-pic {
    width: 410px;
    height: 400px;
}

.header-button {
    position: absolute;
    top: 30%;
    left: 38%;
    transition: 1s;
}

.header-button:hover {
    box-shadow: 10px 10px 100px #FCBD17;
    transform: scale(1);
}

.header-img{
    position: absolute;
    top: 8%;
    left: 54.5%;
    width: 713px;
    padding-left: 20px;
}

.header-pic {
    animation-name: headerImg;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transform: translate(-50%,-50%);
    animation-direction: alternate;
}

@keyframes headerImg {
    from {
        transform: rotate(0) scale(0.8);
    }

    to {
        transform: rotate(360deg) scale(1.1);
    }

}