/* .section{
    padding: 50px 0;
}

.section-input{
    width: 500px;
    height: 50px;
    outline: none;
    border: 1px solid #000;
}
.section-list{
    width: 500px;
    display: flex;
    background-color: white;
    /* border: 1px solid #000; */
    /* align-items: center; */

/* select{
    width: 80px;
    height: 58px;
    border: 1px solid #fff;
    outline: none;
}
.section-inputs{
    width: 430px;
    height: 46px;
    outline: none;
    border: 1px solid #fff;
    background-color: white;
}


.section-checkbox{
    display: flex;
    align-items: center;
    height: 30px;
}

.section-text{
    color: #00004a;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial;
}    */



/* .section-btn{
    color: #fff;
    background-color: #00004a;
    border: none;
    border-radius: 100px;
    font-weight: 600;
    font-size: 16px;
    width: 200px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    display: block;
    margin-top: 50px;
    cursor: pointer;
}



form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .section-input {
    color: #00004a;
    border: 1px solid #00004a;
    background-color: #fff;
    border-radius: 0px;
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    padding: 0 10px;
    width: 650px;
} */
 .sections-input{
    width: 650px;
} */
/* 
.section-name{
    color: #00004a;
    font-weight: 400;
    font-family: 'Arial';
    font-size: 18px;
    /* padding-bottom: 8px */
    /* margin-top: 30px; */
/* } */

/* .section-names{
    color: #00004a;
    font-weight: 400;
    font-family: 'Arial';
    font-size: 18px;
    /* padding-bottom: 8px; */
    /* margin-top: 30px;
} */

/* .section-text{
    vertical-align: middle;
    
    
    box-sizing: border-box;
    margin-right: 10px;
    -webkit-transition: all .2s;
    transition: all .2s;
    opacity: .9;
}  */


 

 

.input-error{
    border: 1px solid red;
}
.tel-error{
    border: 1px solid red;
}

.error-text{
    color: red;
    display: none;
}
.error-text1{
    color: red;
    display: block;
}
.tel-errors{
    color: red;
    display: none;
}
.error-tel1{
    color: red;
    display: block;
}
.check-errors{
    color: red;
    display: none;
}
.error-check1{
    color: red;
    display: block;
}


.modal-title{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    line-height: 0;

}

.modal{
    position: relative;
}
.close-btn{
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-50%,-60%);
    background-color: red;
    border: none;
    font-size: 25px;
    font-weight: 600;
    border-radius: 50%;
    width: 33px;
    color: white;
    height: 33px;
    cursor: pointer;
}









.modal-true{
    width: 20px;
    height: 20px;
    padding: 8px;
    border: 3px solid rgb(146, 237, 121);
    border-radius: 50%;
}

.modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
}


.modal{
    background: linear-gradient(to bottom, #FFBB00 0 30%, white 30% 100%);
}

.code-label{
    position: relative;
}

 .code-number{
     position: absolute;
     top:0%;
     left: 1%;
    color: #00004a;
    transform: translateY(-82%);
    background-color: transparent;
    border-radius: 0px;
    font-size: 17px;
    font-weight: 400;
 }
 /* .sections-input{
     padding-left: 50px;
     width: 610px;
 } */