.container{
  width: 1140px;
  margin:0 auto;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.app-img{
  width: 100%;
  margin-top: -28px;
  max-height: 180px;
}
.App{
   font-family: 'Radio Canada', sans-serif;;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:   #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #037B35;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #037B35;
}